Repository zakuciael/tron3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo --fix, tsc-files --noEmit

.lintstagedrc:

{
  "**/*.{ts,js, cjs, mjs, cts, mts}": [
    "prettier --write",
    "xo --fix",
    "tsc-files --noEmit"
  ],
  "**/*.json": [
    "prettier --write"
  ]
}

chore: rename `tron-client.ts` to `client.ts`
  src/index.ts
  src/lib/client.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor: unify "execute" methods across handlers
  src/lib/structures/bases/listener.ts
  src/lib/structures/stores/listener-store.ts
  src/listeners/core-interaction-create.ts
  src/listeners/core-ready.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore: rename `tron-client.ts` to `client.ts` (#13)
  src/index.ts
  src/lib/client.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor: unify "execute" methods across handlers (#14)
  src/lib/structures/bases/listener.ts
  src/lib/structures/stores/listener-store.ts
  src/listeners/core-interaction-create.ts
  src/listeners/core-ready.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore(npm): disable peer deps warnings
  .npmrc
Due: none

chore(deps): update all dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update all dependencies (#15)
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(logger): logger name bound to the first loaded store
  src/lib/client.ts
  src/lib/structures/store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

fix(logger): logger name bound to the first loaded store (#16)
  src/lib/client.ts
  src/lib/structures/store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat(command): add `autocomplete` method
  src/lib/structures/bases/command.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat(command): add autocompletion for command params (#17)
  src/lib/structures/bases/command.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore(deps): update deps and add discord.js optional packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update deps and add discord.js optional packages (#18)
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rename `interfaces/` dir to `types/`
  src/lib/structures/bases/command.ts
  src/lib/structures/stores/command-store.ts
  src/lib/types/command-options.d.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore(tsc): enable lib check
  tsconfig.json
Due: prettier --write

refactor: rename command option types to more descriptive names
  src/lib/structures/bases/command.ts
  src/lib/structures/stores/command-store.ts
  src/lib/types/command-options.d.ts
  src/lib/types/slash-command-options.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor: rename commands to slash commands
  src/lib/client.ts
  src/lib/structures/bases/slash-command.ts
  src/lib/structures/store-registry.ts
  src/lib/structures/stores/slash-command-store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

revert: "chore(tsc): enable lib check"
  tsconfig.json
Due: prettier --write

refactor: rename commands to slash commands (#19)
  src/lib/client.ts
  src/lib/interfaces/command-options.d.ts
  src/lib/structures/bases/slash-command.ts
  src/lib/structures/store-registry.ts
  src/lib/structures/stores/slash-command-store.ts
  src/lib/types/slash-command-options.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor(logger): make stores inherit their logger name from class
  src/lib/client.ts
  src/lib/structures/store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor(logger): make stores inherit their logger name from class (#20)
  src/lib/client.ts
  src/lib/structures/store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: add custom events types
  src/lib/types/events.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: emit respective events on interaction create
  src/listeners/core-interaction-create.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: bind store registry and all registered stores to the container
  src/lib/client.ts
  src/lib/structures/store-registry.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor(slash-command): include `interaction` in `execute()` method
  src/lib/structures/bases/slash-command.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

types: replace `CommandInteraction` with `ChatInputCommandInteraction`
  src/lib/structures/bases/slash-command.ts
  src/lib/types/events.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

types: export all types in `slash-command-options.ts`
  src/lib/types/slash-command-options.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

types: add `SlashCommandOptionResolver` helper type
  src/lib/types/slash-command-options.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: add proper slash command bindings
  src/lib/structures/stores/slash-command-store.ts
  src/lib/utils/constants.ts
  src/lib/utils/interactions.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: add method to resolve slash command using `interaction`
  src/lib/structures/stores/slash-command-store.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: resolve slash commands on `PossibleChatInputCommand` event
  src/listeners/core-possible-chat-input-command.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: resolve autocomplete on `PossibleAutocompleteInteraction` event
  src/lib/structures/bases/slash-command.ts
  src/lib/structures/stores/slash-command-store.ts
  src/listeners/core-possible-autocomplete-interaction.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore: add todos for missing features
  src/listeners/core-interaction-create.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

feat: add custom events (#21)
  src/lib/client.ts
  src/lib/structures/bases/slash-command.ts
  src/lib/structures/store-registry.ts
  src/lib/structures/stores/slash-command-store.ts
  src/lib/types/events.ts
  src/lib/types/slash-command-options.ts
  src/lib/utils/constants.ts
  src/lib/utils/interactions.ts
  src/listeners/core-interaction-create.ts
  src/listeners/core-possible-autocomplete-interaction.ts
  src/listeners/core-possible-chat-input-command.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore(eslint): prefer type imports
  .eslintrc.cjs
  .xo-config
Due: none

refactor: enforce eslint rules for type imports
  src/lib/client.ts
  src/lib/structures/bases/listener.ts
  src/lib/structures/store-registry.ts
  src/lib/structures/stores/listener-store.ts
  src/lib/structures/stores/slash-command-store.ts
  src/lib/utils/import.ts
  src/lib/utils/logger.ts
  src/listeners/core-interaction-create.ts
  src/listeners/core-ready.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

refactor: prefer type imports (#22)
  .eslintrc.cjs
  .xo-config
  src/lib/client.ts
  src/lib/structures/bases/listener.ts
  src/lib/structures/store-registry.ts
  src/lib/structures/stores/listener-store.ts
  src/lib/structures/stores/slash-command-store.ts
  src/lib/utils/import.ts
  src/lib/utils/logger.ts
  src/listeners/core-interaction-create.ts
  src/listeners/core-ready.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

fix: bad import types in `core-interaction-create.ts` file
  src/listeners/core-interaction-create.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

fix: duplicate imports in `client.ts` file
  src/lib/client.ts
Due: prettier --write, xo --fix, tsc-files --noEmit

chore: replace xo with pure eslint (with intact config)
  .lintstagedrc
  .xo-config
  package.json
Due: prettier --write
